.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 0 !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ac91ff !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #2c2f33 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffea64 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ac91ff !important;
  border-color: #ac91ff !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #d2c4ff !important;
  border-color: #d2c4ff !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d2c4ff !important;
  border-color: #d2c4ff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  color: #d70081 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #d70081 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #2c2f33 !important;
  border-color: #2c2f33 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #44484e !important;
  border-color: #44484e !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #44484e !important;
  border-color: #44484e !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  color: #645600 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #645600 !important;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ac91ff;
  color: #ac91ff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #6b3aff !important;
  background-color: transparent !important;
  border-color: #6b3aff !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ac91ff !important;
  border-color: #ac91ff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffd7ef;
  color: #ffd7ef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff80cc !important;
  background-color: transparent !important;
  border-color: #ff80cc !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #2c2f33;
  color: #2c2f33;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #040404 !important;
  background-color: transparent !important;
  border-color: #040404 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2c2f33 !important;
  border-color: #2c2f33 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffea64;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffde0d !important;
  background-color: transparent !important;
  border-color: #ffde0d !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ac91ff !important;
}
.text-secondary {
  color: #ffd7ef !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #2c2f33 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffea64 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #5f2bff !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff71c6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ac91ff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2c2f33;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ac91ff;
  border-color: #ac91ff;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ac91ff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #9ba1a9;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ac91ff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #ac91ff;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ac91ff;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ac91ff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ac91ff;
  border-bottom-color: #ac91ff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ac91ff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd7ef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ac91ff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-u4J3Td6F4Z .navbar-dropdown {
  position: relative !important;
}
.cid-u4J3Td6F4Z .navbar-dropdown {
  position: absolute !important;
}
.cid-u4J3Td6F4Z .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u4J3Td6F4Z .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-u4J3Td6F4Z .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-u4J3Td6F4Z .dropdown-item:hover,
.cid-u4J3Td6F4Z .dropdown-item:focus {
  background: #ac91ff !important;
  color: white !important;
}
.cid-u4J3Td6F4Z .dropdown-item:hover span {
  color: white;
}
.cid-u4J3Td6F4Z .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-u4J3Td6F4Z .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-u4J3Td6F4Z .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-u4J3Td6F4Z .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-u4J3Td6F4Z .nav-link {
  position: relative;
}
.cid-u4J3Td6F4Z .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-u4J3Td6F4Z .container {
    flex-wrap: wrap;
  }
}
.cid-u4J3Td6F4Z .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-u4J3Td6F4Z .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-u4J3Td6F4Z .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u4J3Td6F4Z .dropdown-menu,
.cid-u4J3Td6F4Z .navbar.opened {
  background: #1d1e28 !important;
}
.cid-u4J3Td6F4Z .nav-item:focus,
.cid-u4J3Td6F4Z .nav-link:focus {
  outline: none;
}
.cid-u4J3Td6F4Z .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-u4J3Td6F4Z .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u4J3Td6F4Z .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-u4J3Td6F4Z .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u4J3Td6F4Z .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-u4J3Td6F4Z .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-u4J3Td6F4Z .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(29, 30, 40, 0.2);
}
.cid-u4J3Td6F4Z .navbar.opened {
  transition: all 0.3s;
}
.cid-u4J3Td6F4Z .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-u4J3Td6F4Z .navbar .navbar-logo img {
  width: auto;
}
.cid-u4J3Td6F4Z .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-u4J3Td6F4Z .navbar.collapsed {
  justify-content: center;
}
.cid-u4J3Td6F4Z .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-u4J3Td6F4Z .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-u4J3Td6F4Z .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-u4J3Td6F4Z .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u4J3Td6F4Z .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u4J3Td6F4Z .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-u4J3Td6F4Z .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-u4J3Td6F4Z .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-u4J3Td6F4Z .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-u4J3Td6F4Z .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-u4J3Td6F4Z .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-u4J3Td6F4Z .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u4J3Td6F4Z .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u4J3Td6F4Z .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-u4J3Td6F4Z .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-u4J3Td6F4Z .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-u4J3Td6F4Z .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-u4J3Td6F4Z .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-u4J3Td6F4Z .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-u4J3Td6F4Z .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-u4J3Td6F4Z .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-u4J3Td6F4Z .navbar.navbar-short {
  min-height: 60px;
}
.cid-u4J3Td6F4Z .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-u4J3Td6F4Z .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-u4J3Td6F4Z .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u4J3Td6F4Z .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u4J3Td6F4Z .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u4J3Td6F4Z .dropdown-item.active,
.cid-u4J3Td6F4Z .dropdown-item:active {
  background-color: transparent;
}
.cid-u4J3Td6F4Z .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u4J3Td6F4Z .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-u4J3Td6F4Z .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-u4J3Td6F4Z .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #1d1e28;
}
.cid-u4J3Td6F4Z .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-u4J3Td6F4Z .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-u4J3Td6F4Z ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-u4J3Td6F4Z .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-u4J3Td6F4Z button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-u4J3Td6F4Z button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-u4J3Td6F4Z button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u4J3Td6F4Z button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u4J3Td6F4Z button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u4J3Td6F4Z button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u4J3Td6F4Z nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u4J3Td6F4Z nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u4J3Td6F4Z nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u4J3Td6F4Z nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u4J3Td6F4Z .navbar-dropdown {
  padding: 0 1rem;
}
.cid-u4J3Td6F4Z a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u4J3Td6F4Z .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u4J3Td6F4Z .navbar {
    height: 70px;
  }
  .cid-u4J3Td6F4Z .navbar.opened {
    height: auto;
  }
  .cid-u4J3Td6F4Z .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-u4J6sIZbhw {
  background-color: #1d1e28;
}
.cid-u4J6sIZbhw .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4J6sIZbhw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-u4J6sIZbhw .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u4J6sIZbhw .row {
  flex-direction: row-reverse;
}
.cid-u4J6sIZbhw .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u4J6sIZbhw .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u4J6sIZbhw .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u4J6sIZbhw .mbr-section-title {
  color: #ffffff;
  background: linear-gradient(135deg, #8a2be2, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-u4J6sIZbhw .mbr-text,
.cid-u4J6sIZbhw .mbr-section-btn {
  color: #ffffff;
}
.cid-VLCmO3JD5N {
  background-color: #ac91ff;
}
.cid-VLCmO3JD5N .top {
  fill: #1d1e28;
}
.cid-u4J8g3ytux {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #ac91ff;
}
.cid-u4J8g3ytux .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4J8g3ytux .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u4J8g3ytux .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u4J8g3ytux .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-u4J8g3ytux .item-wrapper {
  background: #1d1e28;
  padding: 2.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .cid-u4J8g3ytux .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-u4J8g3ytux .mbr-iconfont {
  display: inline-flex;
  font-size: 3rem;
  color: #f7f7f7;
  margin-bottom: 1rem;
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ac91ff;
  height: 80px;
  border-radius: 50%;
}
.cid-u4J8g3ytux .mbr-section-title {
  color: #ffffff;
}
.cid-u4J8g3ytux .mbr-section-subtitle {
  color: #151a2b;
}
.cid-u4J8g3ytux .card-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-u4J8g3ytux .card-box .item-footer {
  margin-top: auto;
}
.cid-u4J8g3ytux .content-head {
  max-width: 800px;
}
.cid-u4J8g3ytux .card-title,
.cid-u4J8g3ytux .iconfont-wrapper {
  color: #ffffff;
}
.cid-u4J8g3ytux body {
  word-wrap: break-word;
}
.cid-u4J8g3ytux .card-text {
  color: #ffffff;
}
.cid-u4J8g3ytux .item-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.cid-u4J96aQGYT {
  background-color: #1d1e28;
}
.cid-u4J96aQGYT .top {
  fill: #ac91ff;
}
.cid-u4J9j8qD7x {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #1d1e28;
}
.cid-u4J9j8qD7x .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4J9j8qD7x .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u4J9j8qD7x .item-wrapper {
  display: flex;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u4J9j8qD7x .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u4J9j8qD7x .img-wrapper {
  width: 10rem;
  padding-right: 1.5rem;
}
.cid-u4J9j8qD7x .content-head {
  max-width: 800px;
}
.cid-u4J9j8qD7x .card-title {
  color: #ac91ff;
}
.cid-u4J9j8qD7x .card-text {
  color: #ffffff;
}
.cid-u4Ja57tRfx {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #1d1e28;
}
.cid-u4Ja57tRfx .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4Ja57tRfx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u4Ja57tRfx .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-u4Ja57tRfx .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u4Ja57tRfx .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u4Ja57tRfx .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u4Ja57tRfx .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u4Ja57tRfx .mbr-section-title {
  color: #ffffff;
}
.cid-u4Ja57tRfx .mbr-text,
.cid-u4Ja57tRfx .mbr-section-btn {
  color: #ffffff;
}
.cid-u4JafVQWjV {
  padding-top: 7rem;
  padding-bottom: 8rem;
  background-color: #1d1e28;
}
.cid-u4JafVQWjV .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4JafVQWjV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-u4JafVQWjV .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u4JafVQWjV .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-u4JafVQWjV .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-u4JafVQWjV .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-u4JafVQWjV .mbr-section-title {
  color: #ffffff;
}
.cid-u4JafVQWjV .mbr-text,
.cid-u4JafVQWjV .mbr-section-btn {
  color: #ffffff;
}
.cid-u4JaOhngY9 {
  padding-top: 8rem;
  padding-bottom: 6rem;
  background-color: #1d1e28;
}
.cid-u4JaOhngY9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u4JaOhngY9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u4JaOhngY9 .mbr-section-title {
  color: #ffffff;
}
.cid-u4JaOhngY9 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-u4Jb5giDly {
  background-color: #282933;
}
.cid-u4Jb5giDly .top {
  fill: #1d1e28;
}
.cid-u4JbbrFpws {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #282933;
}
@media (max-width: 767px) {
  .cid-u4JbbrFpws .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-u4JbbrFpws .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-u4JbbrFpws .links {
    text-align: center !important;
  }
}
@media (max-width: 767px) {
  .cid-u4JbbrFpws .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-u4JbbrFpws .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: 0.05;
}
.cid-u4JbbrFpws .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-u4JbbrFpws .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-u4JbbrFpws .footer-lower .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-u4JbbrFpws .footer-lower .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-u4JbbrFpws .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-u4JbbrFpws .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-u4JbbrFpws .copyright > p {
  color: #ffffff;
}
